<div class="main-content">
    <div class="container-fluid">
      <div class="row ml-md-4 mt-4">
        
        <div class="col-md-12">
          <div class="card mt-1">
            
            <div class="card-body pb-1">
              <form class="form"  [formGroup]="userform" (ngSubmit)="onSubmit()">
                <div class="row">
                  <div class="col-md-12">
                    <h4 style="font-weight: 500;">My Profile</h4>
                  </div>
                  <div class="col-md-12" *ngIf="error" ><h5 class="text-center alert alert-danger">{{error}} </h5></div>
                  <div class="col-md-12" *ngIf="message" ><h5 class=" text-center alert alert-success">{{message}}</h5> </div>

                </div>
                <br>
                 
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="bmd-label-floating">Full Name</label>
                      <input type="hidden" formControlName="id" class="form-control" >
                      <input type="text" formControlName="fullName" class="form-control">
                      <input type="hidden" formControlName="aboutMe" value="about me" class="form-control">
                    </div>
                  </div>
                  
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="bmd-label-floating">Phone</label>
                      
                      <input type="text" formControlName="phone" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="bmd-label-floating">Email</label>
                      <input type="text" formControlName="email" class="form-control" >
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="bmd-label-floating">Gender</label>
                      <input type="hidden" formControlName="id" class="form-control" >
                      <input type="text" formControlName="gender" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="bmd-label-floating">DOB</label>
                      <input type="date" formControlName="dateOfBirth" class="form-control" >
                    </div>
                  </div>
                  
                </div>   
                <div class="col-12 text-right mt-4">
                  <button mat-raised-button type="submit" class="btn btn-danger ">Update Profile</button>

                </div>            
                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </div>
      
      </div>
    </div>
  </div>
  