<footer class="footer ">
  <!-- <div class="container-fluid">
    <nav class="pull-left">
      <ul>
        <li>
          <a href="#">
            Brand Out | It's Time
          </a>
        </li>
        <li>
          <a href="#">
            About Us
          </a>
        </li>
        <li>
          <a href="#">
            Contact Us
          </a>
        </li>
        <li>
          <a href="#">
            Licenses
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright pull-right">
      &copy;
      2020 Powered by
      <a href="https://www.esquall.com" target="_blank">eSquall Inc.</a>
    </div>
  </div> -->
</footer>
